* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 8pt;
  background-image: url("background.png");
  background-repeat: repeat;
}

header {
  background-image: url("bannerbg.png");
  background-repeat: repeat-x;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

header img {
  height: 50px;
}

h1 {
  text-align: center;
  font-family: Tahoma, Verdana, sans-serif;
  font-size: 24pt;
  font-weight: bold;
  text-shadow: 3px 3px 0px #999999;
  padding: 20px 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main-card1 {
  display: flex;
  background-color: transparent;
}

main-card {
  align-items: center;
  justify-content: center;
  justify-items: center;
  border: 4px solid gray;
  border-radius: 20px;
  width: 800px;
  background-color: transparent;
}

left-card {
  width: 550px;
  padding: 0;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

right-card {
  width: 250px;
  padding: 0;
  background-color: #A2B964;
  font-family: Arial, sans-serif;
  border-radius: 0px 15px 0px 0px;
}

right-card img {
  width: 100%;
  border-radius: 0 15px 0 0;
}

right-card-text {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: block;
}

card-header {
  background-image: url(rbg.png);
  background-repeat: repeat-x;
  background-size: auto 100%;
  border-radius: 15px 0 0 0;
  display: flex;
  align-items: flex-end;
  height: 83px;
  font-size: 48pt;
  color: red;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}

card-header img {
  height: 83px;
  margin-right: 10px;
  border-radius: 15px 0 0 0;
}

card-header-text {
  font-size: 48pt;
  color: red;
  font-weight: bold;
  padding-bottom: 5px;
}

card-reviews {
  display: grid;
  justify-content: center;
  align-items: start;
  grid-template-columns: 47% 47%;
  column-gap: 2%;
  grid-auto-flow: row;
  padding: 0;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}

card-reviews p {
  margin-bottom: 20pt;
  font-size: 8pt;
}

card-reviews p img {
  float: left;
  margin-right: 5px;
}

entry p:first-of-type img:first-of-type {
  margin-left: 10px;
  margin-top: 10px;
}

q {
  background-color: #E8DC9B;
  border: 2px solid gray;
  border-radius: 10px;
  display: block;
  padding: 8px;
  font-weight: bold;
  font-size: 8pt;
}

column1, column2, entry {
  margin: 0;
  padding: 0;
}

card-reviews p + p {
  font-size: 8pt;
}

card-reviews p + p img {  
  float: left;
  margin-right: 5px;
}

right-card dl {
  font-size: 8pt;
}

right-card dt {
  font-weight: bold;
}

right-card dd {
  margin-left: 40px;
}

dt {
  font-weight: bold;
}

dl-entry {
  display: block;
  margin-bottom: 10px;
}

left-card ul {
  list-style-type: none;
  padding: 0;
}

left-card li {
  margin-top: 5px;
  list-style: none;
}

card-footer {
  background-color: #A2B964;
  text-align: center;
  padding: 0px;
  width: 800px;
  margin-top: 0px;
  border-radius: 0 0 15px 15px;
  display: block;
}

right-card-text ul {
  list-style: none;
  padding: 0;
}

right-card-text li {
  list-style: none;
}

card-footer p {
  font-size: 8pt;
  margin: 0;
  padding: 5px 0;
}

.validators {
  display: grid;
  row-gap: 5px;
  align-self: flex-end;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  opacity: 0.5;
  position: fixed;
  bottom: 0%;
  right: 0%;
}

.validators img {
  margin-left: 5px;
}